<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
   <script>
    function ExportToExcel(type, fn, dl) {
       var elt = document.getElementById('hidden');
       var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1"});
       return dl ?
         XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }):
         XLSX.writeFile(wb, fn || ('guestList.' + (type || 'xlsx')));
    }
   </script>
   <script>

    function showNum() {
        var numOfP=0;
        for (var i=0; i<participents.length; i++) {
            numOfP=numOfP+participents[i].numOfM;
            numOfP=numOfP+participents[i].numOfF;
        }
        return numOfP;
            
    }
 </script>
<!--include header-->
<%- include('include/_headerA') %>
<!--include header-->
<style>
    body{
    background-size:auto;
    background-repeat: repeat;
    background-position: left;
    }
        

</style>
    <!--main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/michael-tamar" class="border-shaddow">
                    <span class="fa-solid fa-user" style="color:#fffcf5;"></span>
                    <b>הוספת אורח</b></a>
                <a href="/guest-list" onclick="ExportToExcel('xlsx')" style="color:#fffcf5; text-align: center;">
                    <span class="fa-solid fa-download" style="color: #fffcf5;"></span>
                    <b style="color:#fffcf5">הורדת רשימה</b></a>
            </div>
            <!--form handling-->
            <% let numP=0 %>
            <% for (var i=0; i<participents.length; i++) { %>
                <% numP=numP+parseInt(participents[i].numOfM);%>
                <% numP=numP+parseInt(participents[i].numOfF)%>
            <% } %>
             <div style="text-align: center; color:#fffcf5;"> <span dir="rtl"><b>עד כה נרשמו: <%=numP %></b> </span></div>  
            <form action="/" method="POST">
                <table id="tableG" class="table" dir="rtl">
                    <thead class="thead-dark">
                        <tr>
                            <th width="33%">שם</th>
                            <th width="33%" >סטטוס</th>
                            <th width="33%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_showA') %>
                    </tbody>
                </table>
                <%- include('include/_hidden table_A') %>
            </form>
            
        </div>     
    </main>
    <!--main site-->

<!--include footer-->
<%- include('include/_footer') %>
<!--include footer-->


