<table id="hidden" style="display: none;" dir="rtl">

    <% for (var i=0; i<c.length; i++) { %>

        <tr>
            <th><%=c[i].name%></th>
            <th><%=c[i].status%></th>
            <th><%=c[i].PhoneNumber%></th>
            <th><%=c[i].email%></th>
            <!--<th><%=parseInt(c[i].numOfF)%></th>-->
            <th><%=parseInt(c[i].numOfM)%></th>
            <th><%=parseInt(c[i].numOfF)%></th>
            <th><%=c[i].nones%></th>
        <% } %>
</table>
