<table id="hidden" style="display: none;" dir="rtl">

    <% for (var i=0; i<freiman.length; i++) { %>

        <tr>
            <th><%=freiman[i].name%></th>
            <th><%=freiman[i].status%></th>
            <th><%=freiman[i].email%></th>
            <th><%=parseInt(freiman[i].numOfF)%></th>
            <th><%=parseInt(freiman[i].numOfM)%></th>
        <% } %>
</table>
