<table id="hidden" style="display: none;" dir="rtl">
    <tr>
        <th>שם</th>
        <th>סטטוס</th>
        <th>טלפון</th>
        <th>גברים</th>
        <th>נשים</th>
        <th>ילדים</th>
        <th>הערות</th>
    <% for (var i=0; i<b.length; i++) { %>

        <tr>
            <th><%=b[i].name%></th>
            <th><%=b[i].status%></th>
            <th><%=b[i].PhoneNumber%></th>
            <!--<th><%=b[i].email%></th>
            <th><%=parseInt(b[i].numOfF)%></th>-->
            <th><%=parseInt(b[i].numOfM)%></th>
            <th><%=parseInt(b[i].numOfF)%></th>
            <th><%=parseInt(b[i].numOfC)%></th>
            <th><%=b[i].notes%></th>
        <% } %>
</table>
