<table id="hidden" style="display: none;" dir="rtl">
    <tr>
        <th>שם</th>
        <th>סטטוס</th>
        <th>טלפון</th>
        <th>גברים</th>
        <th>נשים</th>
        <th>ילדים</th>
        <th>הערות</th>
    <% for (var i=0; i<participents.length; i++) { %>

        <tr>
            <th><%=participents[i].name%></th>
            <th><%=participents[i].status%></th>
           <!-- <th><%=participents[i].email%></th>-->
            <th><%=participents[i].PhoneNumber%></th>
            <th><%=parseInt(participents[i].numOfM)%></th>
            <th><%=parseInt(participents[i].numOfF)%></th>
            <th><%=parseInt(participents[i].numOfC)%></th>
            <th><%=participents[i].notes%></th>
        <% } %>
</table>
