<script>
    function showMore(j) {
        if(document.getElementById("row+"+j).style.display=="contents")
            document.getElementById("row+"+j).style.display="none";
        else
            document.getElementById("row+"+j).style.display="contents";
    }
    function theNote(note) {
        if(!note=="")
            window.alert(note);
    }
 </script>
<% for (var i=0; i<c.length; i++) { %>

<tr>
    <th><%=c[i].name%></th>
    <th><%=c[i].status%></th>
    <th>
        <a> <div id="<%=i%>" onclick="showMore(this.id)" class="fa-solid fa-user"></div></a>
    </th>
</tr>
<tr style="display: none; color:rgb(255, 96, 117);" id="row+<%=i%>">
    <th style="color:rgb(255, 96, 117);"><%=c[i].email%> <br> <%=c[i].PhoneNumber%></th>
    <th style="color:rgb(255, 96, 117);"><%=c[i].numOfM%> משתתפים</th>
    <!--<th style="color:rgb(134, 36, 97);"><%=c[i].numOfF%> נשים <%=c[i].numOfM%> גברים</th>-->
    <th style="color:rgb(255, 96, 117);"><a id="notes+<%=i%>"> <div id="<%=c[i].notes%>" onclick="theNote(this.id)" class="fa-solid fa-envelope"></div></a></th>
</tr>
<% } %>